[Desktop Entry]
Name=drumkv1
Version=1.0
GenericName=MIDI
Comment=drumkv1 is an old school drum-kit sampler
Comment[fr]=drumkv1 est un échantillonneur de batterie à l'ancienne
Exec=drumkv1_jack
Icon=drumkv1
Categories=Audio;AudioVideo;Midi;X-Alsa;X-Jack;Qt;
Keywords=Audio;MIDI;ALSA;JACK;Synthesizer;Sampler;LV2;Qt;
Terminal=false
Type=Application
StartupWMClass=drumkv1_jack
X-Window-Icon=drumkv1
X-SuSE-translate=true
