Source: drumkv1
Section: sound
Priority: optional
Maintainer: Rui Nuno Capela <rncbc@rncbc.org>
Build-Depends: debhelper (>= 11), cmake, pkg-config,
  qtbase6.7-static (>= 6.7), qttools6.7-static (>= 6.7),
  qtsvg6.7-static (>= 6.7), qttranslations6.7-static (>= 6.7),
  libjack-dev | libjack-jackd2-dev, libasound2-dev,
  lv2-dev, liblo-dev, libsndfile-dev
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: drumkv1-jack
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libjack0 | libjack-jackd2-0
Replaces: drumkv1-common (<= ${source:Version}), drumkv1 (<= ${source:Version})
Description: An old-school drum-kit sampler - JACK standlone
  An old-school all-digital drum-kit sampler synthesizer with stereo fx.
  .
  This package provides the standalone JACK client application (drumkv1_jack)

Package: drumkv1-lv2
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Replaces: drumkv1-common (<= ${source:Version})
Description: An old-school drum-kit sampler - LV2 plugin
  An old-school all-digital drum-kit sampler synthesizer with stereo fx.
  .
  This package provides the LV2 plugin (http://drumkv1.sourceforge.net/lv2)
